<h1>Chat</h1>

Name : <input id="name" type="text"><br />
Comment : <input id="comment" type="text"><br />
<input id="send" type="button" value="send">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody id="chat_body">
  </tbody>
</table>
